.form-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 400px;
    height: min-content;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #ffffff;
}

.form-title {
    margin-bottom: 1rem;
    text-align: center;
    color: #000000;
}

.form-input-username {
    margin-bottom: 1rem;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form-input:focus {
    border-color: #007f67;
    background: #ffffff
}

.form-button {
    margin-top: 20px;
    width: 100%;
    padding: 0.5rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border-radius: 8px;
    max-height: 65px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #170677;
}

.form-button:hover {
    background: #2b2b8a;
}

.form-message {
    text-align: center;
    margin-bottom: 5px; color: #ff0015;
    font-size: 18px;
}

.input-error-message {
    margin-top: 0;
    display: block;
    color: red;
}

/* Responsivenes */
@media(max-width: 500px) {
    .form-container {
        width: 300px;
    }
}