.adminDashboardStudyPosistion {
    position: absolute;
    left: 70%;
    top: 27%;
    width: 25%;
    height: 50%;
    background: lightgray;
}

.adminStudyPosistion {
    position: absolute;
    left: 10%;
    top: 27%;
    width: 50%;
    height: 50%;
    /*background: gray;*/

}
.input-study-info{
    display: flex;
    flex-direction: row;
}
label {
    height: fit-content;
}
.input-info-textarea {
    resize: none;
    width: 70%;
    height: 22em;
}

.error-study {
    color: red;

}
.adminStudyContainer {
    display: flex;
    background: white;
    text-align: center;
    margin-top: 20px;
    margin-left: 120px;
    flex-direction: column;
    width: 20%;
    /*height: 35%;*/
}
.adminDashboardStudyButton {
    position: relative;
    left: 10%;
    width: 80%;
    height: 20%;
}