.adminDashboardStudyPosistion {
    display: flex;
    flex-direction: column;
    /*margin: 100px 50px 40px 50px;*/
    height: 0%;
    margin-top: 100px;
    background: #f3f3f3;
    border-radius: 10px;
    float: right;
    margin-right: 2.5%;
    padding-right: 3%;
}

.adminStudyPosistion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 65vw;
    max-height: 510px;
    margin: 70px auto 38px auto;
    float: left;
}
.input-opleiding {
    /*align-self: center;*/
    margin-top: 2.5%;
}
.input-study-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
label {
    font-family: 'Inter';
    margin-left: 1%;
    height: fit-content;
}
.informationLabel {
    /*margin-left: 10%;*/
}
.input-info-textarea {
    margin-top: 5%;
    align-self: center;
    resize: none;
    width: 80%;
    height: 14em;
}

.error-study {
    color: red;
    font-size: 12px;
}
.adminStudyContainer {
    display: flex;
    background: white;
    text-align: center;
    margin-top: 30px;
    margin-left: 100px;
    flex-direction: column;
    width: 20%;
    height: 10rem;
    border-radius: 10px;
}
.adminDashboardStudyButton {
    display:flex;
    flex-direction: row;
    margin: 10px 100px auto 100px;
    border:none;
    border-radius: 10px;
    color: #313030;
}

.admin-Study-add-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 500px;
    margin-left: 10%;
}
.Toevoegen {
    margin-top: 5%;
    align-self: center;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-family: 'Inter';
}
p {
    font-family: 'Inter';
}
.ContentType {
    margin-top: 2.5%;
}