.adminContentPage {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    /*overflow: scroll;*/
}
.adminContentContainer {
    display: flex;
    flex-direction: row;
}
.adminDashboardStudyPosition {
    display: flex;
    flex-direction: column;
    /*margin: 100px 50px 40px 50px;*/
    height: 0%;
    margin-top: 1.5%;
    background: #f3f3f3;
    border-radius: 10px;
    float: right;
    margin-right: 10%;
    padding-top: 1%;
    padding-right: 3%;
}
.adminStudyPosition {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 60vw;
    max-height: 510px;
    margin: 2% 3% 3% auto;
}
.input-opleiding {
    /*align-self: center;*/
    margin-top: 2.5%;
}
.input-study-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
label {
    font-family: 'Inter';
    margin-left: 1%;
    height: fit-content;
}
.informationLabel {
    /*margin-left: 10%;*/
}
.input-info-textarea {
    margin-top: 5%;
    align-self: center;
    resize: none;
    width: 80%;
    height: 14em;
}

.error-study {
    color: red;
    font-size: 12px;
}
.adminStudyContainer {
    display: flex;
    background: white;
    text-align: center;
    margin: 1rem;
    flex-direction: column;
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
    font-size: 1.2rem;
}
.adminDashboardStudyButton {
    display:flex;
    flex-direction: row;
    /*margin: 10px 100px auto 100px;*/
    margin: 5% 40% auto 39%;
    border:none;
    border-radius: 10px;
    color: #313030;
}

.admin-Study-add-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 490px;
    margin-left: 10%;
}
.Toevoegen {
    margin-top: 5%;
    align-self: center;
    border-radius: 10px;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-family: 'Inter';
}
p {
    font-family: 'Inter';
}
.ContentType {
    margin-top: 2.5%;
}
.adminContentSelector {
    display: flex;
    margin: 2.5% auto auto 30%;
}
.adminContentButton {
    border-radius: 10px;
    display: flex;
    margin-left: 1%;
    font-family: 'Inter';
    font-size: 18px;
}

.trashcan-icon {
    margin: 0 0 0 3%;
}

/*@media (max-width: 1200px) {*/
/*    .adminDashboardStudyPosistion {*/
/*    }*/
/*}*/

@media (max-width: 680px) {
    body {
        overflow-y: scroll;
    }
    .adminContentContainer {
        display: flex;
        flex-direction: column;
        margin-left: -5%;
        margin-right: 5%;
    }
    .adminStudyPosistion {
        display: flex;
        /*flex-wrap: nowrap;*/
        justify-content: center;
        /*margin: 0 auto 0 auto;*/
        /*float: right;*/
        width: auto;
    }
    /*.adminStudyContainer {*/
    /*    width: 20%;*/
    /*}*/
    .adminDashboardStudyButton {
        margin: 0 35% 0 35%;
    }
    .adminDashboardStudyPosition {
        display: flex;
        width: 55%;
        justify-content: center;
        margin: -3% 0 0 27.5%;
        overflow-y: auto;
        /*height: 0%;*/
    }
    .adminContentPage {
        overflow-y: scroll;
    }
    .trashcan-icon {
        margin: 0% 0 0 2.5%;
    }
    .adminStudyContainer {
        width: 20%;
        height: 8rem;
        margin-top: 2%;
    }
}