.adminDashboard-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 70px 40px auto 0px;
    color: #000000;
}
.admin-Testlesson-container {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-left: 120px;
    flex-direction: column;
    line-height: 1.2;
}

.adminDashboard-name{
    text-align: center;
    width: 24rem;
    height: 4.3rem;
    background: #EBEBEB;
    border-radius: 15px 15px 0px 0px;
}
.adminDashboard-content{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 24rem;
    height: 31rem;
    background: #F7F7F7;
    box-shadow: 0px 4px 0px #B9B9B9;
    border-radius: 0px 0px 15px 15px;
}
.admin_div_input{
    margin-top: 7%;
    margin-left: 6%;
}
#adminDashboard_Testlesson_Name{
    margin-top: 19px;
}
#adminDashboard_Testlesson_duration{
    margin-left: 20%;
}
#adminDashboard_Testlesson_dateTime{

    margin-left: 24%;
}
#adminDashboard_Testlesson_time{
    margin-left: 38.3%;
}
#adminDashboard_Testlesson_Location{
    margin-left: 16%;
}
#adminDashboard_Testlesson_Room{
    margin-left: 17%;
}
#adminDashboard_Testlesson_Subject{
    margin-left: 22%;
}
#adminDashboard_Capacity{
    margin-left:29.3%;
}
.trash_position {
    background: #D9D9D9;
    width: 40px;
    height: 40px;
    align-items: center;
}

.trash_png{
    background: #D9D9D9;
    padding: 5px 5px 5px 5px;
    width: 40px;
    height: 40px;
    margin: auto;
}

.trashcan-icon {
    padding: 5px;
    font-size: 30px;
}
.trialLLi{
    margin-bottom: 3.5%;
    color: #000000;
}

.trash_Button_position{
    display:flex;
    flex-direction: row;
    margin: 0 36% auto;
    border:none;
    border-radius: 10px;
    background-color: #F7F7F7;
}
.adminDashboard-position{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 70vw;
    max-height: 510px;
    right: 0;
    left: 0;
    margin: 20px auto 38px auto;
    align-self: center;
    float:left;
}

.adminDashboard-position::-webkit-scrollbar {
    width: 1px;
}

.adminDashboard-position::-webkit-scrollbar-thumb {
    background-color: #000000;
    opacity: 0.5;
    border-radius: 5px;
}
.adminDashboard-Apply {
    width: 130%;
    height: 138%;
    background: #D9D9D9;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 1.3rem 0 -1.2rem;
}
.adminDashboard-Apply-text {
    display: flex;
    margin: auto auto auto 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    color: #444444;
}
.adminDashboard-trialH2{
    font-family: Inter;
    font-size: 1.2rem;
}

.adminDashboard-plattegrond {
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.Apply{
    display: flex;
    margin: 0px auto auto auto;
    width: 140px;
    height: 30px;
    background: #D9D9D9;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.Apply-text {
    display: flex;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #444444;
}
#apply_Button_position{
    margin: auto auto auto 84px;
}
.countText{
    font-size: 0.7rem;
    margin-left: 2.2rem;
}
.countFull{
    font-size: 1.4rem;
    margin-left: 18%;
    color: black;
    margin-top: 12%;
}

.dropdownTrial{
    margin: 6% 0 0 3%;
}

.dropdownTrial select{
    margin-left: 27.5%;;
}
@media (max-width: 1077px) {
    body {
        overflow-y: auto;
        height: auto;
    }

    #all{
        display: flex;
        flex-wrap: wrap;
    }
    .admin-Testlesson-container{
        display: flex;
        margin-bottom: 18%;
    }

}



