.chatcontent {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.qa-container, .related-qa-container {
    flex: 1;
    margin: 10px;
    overflow-y: auto;
    height: 100%;
    border: 1px solid #ddd;
    padding: 10px;
}

#questions-answers-list, #related-questions-list {
    margin-top: 20px;
}

.scrollable-table {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
    display: block;
}
