.chatcontent {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.qa-container, .related-qa-container {
    flex: 1;
    margin: 10px;
    overflow-y: auto;
    height: 100%;
    border: 1px solid #ddd;
    padding: 10px;
}

#questions-answers-list, #related-questions-list {
    margin-top: 20px;
}

.scrollable-table {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
    display: block;
}

.buttonchatqa{
    color: black;
    border: black;
}

.buttonchatqa:hover{
    color: blue;
}
.update-button{
    color: black;
    border: black;
}

.update-button:hover{
    color: green;
}


.delete-button{
    color: black    ;
}
.delete-button:hover{
    color: red;
}


.delete-related-button{
    color: black;
}

.delete-related-button:hover{
    color: red;
    border: 1px;
}