#chatPopup {
    position: fixed;
    bottom: 5%;
    right: 0%;
    width: 20%;

    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    z-index: 999;
}

#chatPopup textarea {
    width: 300px;
    height: 200px;
    display: block;
    margin-bottom: 10px;
}

#closeChatButton {
    float: right;
}

.openForm {
    height: 8%;
    margin-left: 60%;
    width: 17%;
    padding: 0;
    border: none;
    background: none;}
.image{
    height: 50%;
    width: 30%;
}