.home {
    background-image: url("./uploads/background-image.jpg");
}

.inleidng {
    font-size: 400%;
    margin: 5% 7% 10%;
}

.info {
    font-size: 150%;
    margin-left: 50%;
    margin-top: -5%;
    font-weight: bold;
}

.plattegrond {
    height: 10%;
    width: 10%;
    margin-right: 5%;
    margin-left: 20%;
    margin-top: -1%;
    cursor: pointer;
}

.chatbot{
    height: 10%;
    width: 10%;
    margin-right: 5%;
    cursor: pointer;
}

.opleiding {
    height: 10%;
    width: 10%;
    margin-right: 5%;
    cursor: pointer;
}

.proefles {
    height: 10%;
    width: 10%;
    margin-right: 5%;
    cursor: pointer;
}

.hva {
    margin: -22% 88% 0%;
    margin-top: -22%;
    margin-left: 88%;
    height: 54%;
    width: 6%;
    left: 286%;
    margin-left: 30%;
    margin-top: -26%;
}

.platte {
    position: absolute;
    font-weight: bold;
    font-size: 1.8vw;
    margin-left: 20.4%;
    margin-top: -1%;
}

.bot {
    position: absolute;
    font-weight: bold;
    font-size: 1.8vw;
    margin-left: 37%;
    margin-top: -1%;
}

.opleidingText {
    position: absolute;
    font-weight: bold;
    font-size: 1.8vw;
    margin-left: 50.4%;
    margin-top: -1%;
}

.les {
    position: absolute;
    font-weight: bold;
    font-size: 1.8vw;
    margin-left: 67%;
    margin-top: -1%;
}