:root {
    --color-primary: #fff;
    --color-secondary: #9370db;

    --border-dark: 1px solid black;
    --border-dark-thicker: 2px solid black;
    --border-light: 1px solid white;
    --border-light-thicker: 2px solid white;
}

.third-container {
    z-index: 2;
    position: fixed;
    right: 0;
    width: 5rem;
    height: 100%;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 35%;
    width: 4.5rem;
    height: fit-content;
    background-color: var(--color-secondary);
    border-radius: 1rem 0 0 1rem;
}

.homeButton {
    cursor: pointer;
}
.mapButton {
    cursor: pointer;
}
.chatbotButton {
    cursor: pointer;
}

.sidebar-items > * {
    margin: 0.2rem;
}

#back-div {
    position: absolute;
    margin-left: -5rem;
    bottom: 5vh;
}

#back-button {
    width: 6.5rem;
    height: 3rem;
    font-size: 1.4rem;
    color: #000000;
    background: var(--color-secondary);
    border: var(--border-light);
    border-radius: 0.8rem;
    cursor: pointer;
}
#back-button:hover {
    color: black;
    border: var(--border-dark);
}