.trial-lessons-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    text-align: center;

}

.text {
    color: #FF7A00;
    font-size: 19px;
}

.trial-lessons-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 80vh;
    max-width: 960px;
    right: 0;
    left: 0;
    margin: 0 auto 0 auto;
}

.trial-lessons {
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    min-width: 300px;
    height: min-content;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    margin: 80px 10px auto 10px;
}

.name {
    text-align: center;
    margin-top: 10px;
}

.trial-lesson-info {
    display: flex;
    flex-direction: column;
}

.trial-lesson-info .item {
    margin-bottom: 10px;
}

.trial-lesson-info .item:first-child {
    margin-top: 5px;
}

.trial-lessons-apply {
    padding: 8px;
    background-color: lightgray;
    border-radius: 10px;
    border: none;
    height: 50px;
    right: 0;
    left: 0;
    margin: 0 auto 0 auto;
}

.trial-lessons-apply:hover {
    background-color: darkgray;
}

.trialP{
    color: #FF7A00;
    font-size: 13px;
}

.trialH1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 73px;
}
.trialH2{
    font-family: Inter;
    font-size: 1.2rem;
}
#trialBody{
    /*background: url("img/background-PAD.png");*/
    background-size: cover;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
}
.Testlesson-position{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
    width: 70vw;
    max-height: 475px;
    right: 0;
    left: 0;
    margin: 0 auto 38px auto;
    align-self: center;
}

.Testlesson-position::-webkit-scrollbar {
    width: 1px;
}

.Testlesson-position::-webkit-scrollbar-thumb {
    background-color: #000000;
    opacity: 0.5;
    border-radius: 5px;
}

.Testlesson-container {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-left: 120px;
    flex-direction: column;
}

.Testlesson-name{
    text-align: center;
    width: 180px;
    height: 33px;
    background: #EBEBEB;
    border-radius: 15px 15px 0px 0px;
}
.Testlesson-content{
    text-align: left;
    width: 180px;
    height: 184px;
    background: #F7F7F7;
    box-shadow: 0px 4px 0px #B9B9B9;
    border-radius: 0px 0px 15px 15px;

}
.trialUl {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    padding-top: 1px;
}
.trialLi{
    margin-bottom: 8px;
}
.Apply{
    display: flex;
    margin: 0px auto auto auto;
    width: 140px;
    height: 30px;
    background: #D9D9D9;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.Apply-text {
    display: flex;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #444444;
}

.trialBody {
    width: 100vw;
    display: flex;
    align-items: center;
}
/*.TextProef{*/
/*    text-align: center;*/
/*}*/
/*.trialP{*/
/*    color: #FF7A00;*/
/*    font-size: 19px;*/
/*}*/

/*.trialH1{*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 58px;*/
/*    line-height: 73px;*/
/*}*/
/*.trialH2{*/
/*    font-family: Inter;*/
/*}*/

/*#trialBody{*/
/*    !*background: url("img/background-PAD.png");*!*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.Testlesson-position{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    margin-bottom: 38px;*/

/*}*/
/*.Testlesson-container{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    text-align: center;*/
/*    margin-top: 10px;*/
/*    margin-left: 120px;*/

/*}*/
/*.Testlesson-name{*/
/*    text-align: center;*/
/*    width: 320px;*/
/*    height: 83px;*/
/*    background: #EBEBEB;*/
/*    border-radius: 15px 15px 0px 0px;*/
/*}*/
/*.Testlesson-content{*/
/*    text-align: left;*/
/*    width: 320px;*/
/*    height: 400px;*/
/*    background: #F7F7F7;*/
/*    box-shadow: 0px 4px 0px #B9B9B9;*/
/*    border-radius: 0px 0px 15px 15px;*/

/*}*/
/*.trialUl{*/
/*    font-size: 18px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding-top: 24px;*/
/*}*/
/*.trialLi{*/
/*    margin-bottom: 10px;*/
/*}*/
/*.Apply{*/
/*    display: flex;*/
/*    margin:150px auto 0 auto;*/
/*    width: 232px;*/
/*    height: 55px;*/
/*    background: #D9D9D9;*/
/*    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);*/
/*    border-radius: 10px;*/
/*}*/
/*.Apply-text{*/
/*    display: flex;*/
/*    margin: auto;*/
/*    font-family: 'Inter';*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 25px;*/
/*    line-height: 30px;*/
/*    color: #444444;*/
/*}*/