/* Header text */
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    margin-left: 30px;
}

.text {
    color: #FF7A00;
    font-size: 16px;
    margin-bottom: 0;
}

/* Triallesson body */
#trialBody {
    display: flex;
    justify-content: center;
}

/* Testlesson container */
.Testlesson-position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    max-height: 470px;
    overflow-y: auto;
}

/* scrollbar styling */
.Testlesson-position::-webkit-scrollbar {
    width: 2px;
}

.Testlesson-position::-webkit-scrollbar-thumb {
    background-color: #5E5D5DD5;
}

/* Testlesson */
.Testlesson-container {
    margin: 10px 20px;
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #EBEBEB;
    border-radius: 15px;
    box-shadow: 0 4px 0 #000000A5;
}

.apply-Testlesson-name{
    text-align: center;
    width: 180px;
}

.trialLessonH2 {
    color: #000000;
    font-family: Inter, serif;
    font-size: 1.2rem;
    padding: 3px;
    margin-bottom: 0;
}

.Testlesson-content {
    text-align: left;
    width: 180px;
    height: 184px;
    background: #F7F7F7;
    border-radius: 0 0 15px 15px;
}

.trialUl {
    font-size: 13px;
    padding-top: 1px;
}

.trialLi {
    margin-bottom: 8px;
    color: #000000;
}

.trialCountText {
    text-align: center;
    font-size: 15px;
    color: black;
}

/*for admin page*/
.Testlesson-name{
    text-align: center;
    width: 180px;
    height: 43px;
    background: #EBEBEB;
    border-radius: 15px 15px 0px 0px;
}

.trialH2{
    font-family: Inter, serif;
    font-size: 1.2rem;
    color: #000000;
}
.trialCountText{
    color:black;
}

/* Responsiveness*/
@media (max-width: 1100px) {
    .Testlesson-position {
        width: 700px;
        max-height: 420px;
    }
}
/**/
@media (max-width: 750px){
    .header {
        font-size: 30px;
    }

    .Testlesson-position {
        justify-content: normal;
        width: 450px;
        max-height: 440px;
    }
}

@media (max-width: 550px) {
    .header {
        font-size: 30px;
    }

    .text {
        font-size: 12px;
    }

    .Testlesson-position {
        width: 300px;
        max-height: 450px;
        justify-content: center;
    }
}

@media (max-width: 475px) {
    .Testlesson-position {
        max-height: 390px;
    }
}

