body {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
#hva_img{
    display: flex;
    height: 10%;
    margin: 0% 0% 0% 22%;
}

.hva_logo-container{
    width: 11%;
}

.titlevanpagina, .infovanpagina {
    text-align: center;
    margin: 20px;
}

.imgnext {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 12%;
}

.layout1, .layouts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0 0 4%;
}

#content1, #contents, #conntents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.afspraak_img, .map_img, .proef_img, .study_img {
    background: none;
    border: none;
}

.img-container, .proefles-container, .studys-container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0px auto;
}

.afspraak_img {
    margin-top: 3.5%;
    text-align: center;
}

.proef_img {
    margin: 2.5% 0% 0% 0%;
    text-align: center;
    padding: 0% 0% 9% 0%;
    width: 71%;
    height: 86%;
}

.study_img {
    margin: 0;
    text-align: center;
    width: 72%;
}

.img-container1 {
    width: 71%;
    margin: 3% 15.6%;
    cursor: pointer;
}
#plattegrond-text{
    font-size: 1.05rem;
    font-family: Inter, sans-serif;
}

.afspraak_img:hover, .map_img:hover, .proef_img:hover, .study-container_img:hover {
    cursor: pointer;
    border: 2px solid #7142d9;
}

.map_img {
    width: 34%;
    margin: 3% 44% 0%;
    text-align: center;
    height: 82%;
}

#study_img {
    width: 66%;
    text-align: center;
    margin-top: 6%;
}

.imge-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 86%;
    margin-top: 10%;
}

.study-container_img {
    margin: 0;
}

.studys-container {
    width: 95%;
    height: 85%;
    text-align: center;
    margin: 2% 2% -5% 0%;
}

.welcome-proefles-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 84%;
    height: 95%;
    margin-top: 2%;
    padding: 0% 0% 0% 0%;
}

@media screen and (max-width: 600px) {
    .imgnext {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-left: -4%
    }

    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .layout1, .layouts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #content1, #contents, #conntents {
        width: 100%;
    }
    .imge-container{
        width:60%;
        height:60%;
    }
    .img-container1{
        width:144%;
    }
    .map_img{
        margin-left: 20.5%;
        margin-top: 8%;
    }
    #plattegrond-text{
        margin-left: 59%;
        font-size: 1.05rem;
        font-family: Inter, sans-serif;
    }
    .hva_logo-container{
        display: none;
    }
    .titlevanpagina{
        margin: 0% 0% 0% -25%;
    }
}