body {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.titlevanpagina, .infovanpagina {
    text-align: center;
    margin: 20px;
}

.imgnext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top:10%;
}

.layout1, .layouts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0 0 4%;
}

#content1, #contents, #conntents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.afspraak_img, .map_img, .proef_img ,.study_img {
    background: none;
    border: none;
}

.img-container, .proefles-container, .studys-container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0px auto;
}
.afspraak_img{
    margin-top: 3.5%;
    text-align: center;
}
.proef_img{
    margin-top: -8%;
    text-align: center;
    padding: 0 0 7% 0;
}

study_img{
    margin-top: 2%;
}
.img-container1{
    width: 70%;
    margin: 3% 15.6%;
    cursor: pointer;
}
.afspraak_img:hover {
    cursor: pointer;
    border: 2px solid #7142d9;
}
.map_img:hover {
    cursor: pointer;
    border: 2px solid #7142d9;
}
.proef_img:hover {
    cursor: pointer;
    border: 2px solid #7142d9;
}
.studys-container:hover {
     cursor: pointer;
     border: 2px solid #7142d9;
 }
 .map_img{
     width: 34%;
     margin: 0.5% 44%;
     text-align: center;
 }
#study_img{
    margin:0;
}
.study-container_img{
    margin:0;
}